{% extends 'back.html.twig' %}

{% block title %}Juan Bisquert | Peluqueria{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row justify-content-center">


        <!--MESSAGE

          <div class="alert alerta-login" role="alert">


          </div>

          -->


        <div class="card col-lg-4 col-md-6 py-5">
            <div class="card col-lg-3 col-md-6 py-2">
                <img class="rounded w-100" src="{{asset(avatar_public_directory ~ usuario.avatar)}}" alt="poster">
            </div>
            <input type="hidden" name="id" value="{{  usuario.id }}">
            <h2><strong>Nombre:</strong>{{  usuario.nombre }}</h2>
            <h2><strong>Apellidos:</strong>{{  usuario.apellidos }}</h2>
            <h2 class="card-title"><strong>Username:</strong>{{  usuario.username }}</h2>
            <h2 class="text-muted mt-2"><strong>Email:</strong>{{  usuario.email }}</h2>
            <h2><strong>Teléfono:</strong>{{  usuario.telefono }}</h2>

        </div>

        <div class="row justify-content-center">
            <div class="col-4 col-lg-4 col-md-6">

                <h2>¿Quieres borrar este usuario?</h2>

                <a href="delete/yes"><button class="btn btn-danger">Si</button></a>
                <a href="{{ path('admin') }}"><button class="btn btn-primary">No</button></a>


            </div>
        </div>
    </div>
</div>
{% endblock %}