{% extends 'base.html.twig' %}

{% block title %}Tienda | Juan Bisquert{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row justify-content-start">
            <div class="col-3 col-xl-3 col-md-3 mt-4 mx-3">
                <a href="{{ path('perfil', {id: app.user.id})}}">
                    <button class="button-four bg-danger"><i class="fas fa-chevron-circle-left mx-1"></i>Atrás</button>
                </a>
            </div>

            <div class="col-lg-8 col-8 mt-5">
                <span class="h2">MIS RESERVAS</span>
                <table class="table mt-5 bg-light">
                    <tr>

                        <th class="text-center">Username</th>
                        <th class="text-center">Servicio</th>
                        <th class="text-center">Hora</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                    {% if reservas %}
                        {% for reserva in reservas %}
                            <tr>

                                <td class="text-center">{{reserva.usuario.username}}</td>
                                <td class="text-center">{{reserva.ServicioId.nombre}}</td>
                                <td class="text-center">{{reserva.horaCita}}</td>
                                <td class="text-center">{{  reserva.fechaCita | date("Y-m-d") }}</td>

                                <td class="text-center" style="width: 140px"><a href="{{ path('reservas_editUser', {id: reserva.id}) }}">
                                        <button type="button" class="btn btn-warning my-1"><i class="fa fa-edit"></i> Editar</button>
                                    </a>
                                    <a href="reservas/delete/{{ reserva.id }}">
                                        <button type="button" class="btn btn-danger my-1"><i class="fa fa-trash"></i> Borrar</button>
                                    </a>
                                    <a href="{{ path('reserva_showUser', {id: reserva.id}) }}">
                                        <button type="button" class="btn btn-info my-1 px-3 my-1"><i class="fa fa-eye"></i> Ver</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h2>No hay reservas disponibles</h2>
                    {% endif %}
                </table>


            </div>
        </div>
    </div>
{% endblock %}