<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <h1>Producto Data</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-1" style="margin-top: -40px">
            <a href="{{ path('admin_productos') }}">
                <button class="button-four bg-danger"><i class="fas fa-chevron-circle-left mx-1"></i>Atrás</button>
            </a></div>

        <div class="card col-lg-3 col-md-3 mt-5 mb-5 align-content-center">
            <div class="row justify-content-center">
            <img class="rounded w-50 mt-3" src="{{ asset(pictures_public_directory ~  producto.imagen) }}" alt="poster"
                 height="200">
            </div>
            <hr>
            <h3 class="card-title mt-2"><strong>Nombre:</strong> {{ producto.nombre }}</h3>
            <hr>
            <h3 class="card-title mt-2"><strong>Categoria:</strong> {{ producto.categoria }}</h3>
            <hr>
            <h3 class="card-title mt-2"><strong>Descripcion:</strong> {{ producto.descripcion }}</h3>
            <hr>
            <h3 class="card-title mt-2"><strong>Precio:</strong> {{ producto.precio }} €</h3>
        </div>
    </div>


</div>
