{% extends 'back.html.twig' %}

{% block title %}Producto Filter{% endblock %}
{% block body %}
    <h1>Producto</h1>
    {% if productos %}

        {% for producto in productos %}

            <div class="row py-2 px-2 mx-2">
                <div class="card col-lg-3 col-md-6 py-2">
                    <img class="rounded w-100" src="{{asset('img/' ~ producto.imagen)}}" alt="poster">
                </div>

                <div class="card col-lg-9 col-md-6 py-2">
                    <h1 class="card-title"><strong>Nombre:</strong> {{ producto.nombre }}</h1>
                    <p class="text-muted mt-2"><strong>Categoria:</strong> {{ producto.categoria }}</p>
                    <p><em><strong>Descripcion:</strong> {{ producto.descripcion }}</p>
                    <h2><strong>Precio:</strong> {{ producto.precio }}</h2>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No hay productos</p>
    {% endif %}
{% endblock %}