<div class="card col-lg-3 col-md-3 mt-5 mb-5 align-content-center">
    <img class="rounded w-50 mt-3" src="{{ asset(pictures_public_directory ~  producto.imagen) }}" alt="poster"
         height="200">
    <h2 class="card-title p-3"><strong>Nombre:</strong> {{ producto.nombre }}</h2>
    <h2 class="mt-2"><strong>Categoria:</strong> {{ producto.categoria }}</h2>
    <h2><em><strong>Descripcion:</strong> {{ producto.descripcion }}</h2>
    <h2><em><strong>Precio:</strong></em> {{ producto.precio }} €</h2>
</div>
