<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles-back.css') }}">
        <link rel="stylesheet" href="{{ asset('css/header.css') }}">
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('css/table.css') }}">
        <link rel="stylesheet" href="{{ asset('css/template-grid3.css') }}">
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.13/css/all.css">

    {% endblock %}
    <title>{% block title %}Juan Bisquert | BackOffice{% endblock %}</title>
</head>

<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-header">
                <div class="container-fluid headerContainer">
                    <div class="row fila-header">

                        <div class="col-2 header-logo">
                            <a href="/back-index"><img class="logo" src="/img/logo-bueno.png"
                                                       alt="logo"></a>

                        </div>

                        <div class="col-1 navbar iconos-header">
                            <a href="#"><i class="far fa-envelope"></i></a>
                            <a href="#"><i class="far fa-bell"></i></a>


                        </div>

                        <div class="col-6 mt-5">
                            <div style="margin-top: 205px !important;">
                                <a href="../">
                                    <button type="button" class="btn"><i class="fas fa-home"></i>Home</button>
                                </a>
                            </div>

                        </div>
                        <div class="col-3">
                            <div class="topnav">

                                <input type="text" placeholder="Buscar..">
                                <a href="#"><i class="fas fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<main>
    <div class="row navbar-vertical">
        <div class="col-12 col-navbar">
            <div class="sidebar">
                <a href="/admin"><i class="far fa-calendar-alt"></i>HOME</a>
                <a href="/back-reservas"><i class="far fa-calendar-alt"></i>CALENDARIO RESERVAS</a>
                <a href="/back-galeria"><i class="far fa-images"></i>GALERIA</a>
                <a href="/back-blog"><i class="fab fa-blogger-b"></i>BLOG</a>
                <a href="/back-productos"><i class="fas fa-store-alt"></i>PRODUCTOS</a>
                <a href="/back-pedidos"><i class="far fa-newspaper"></i>PEDIDOS</a>
                <a href="/back-usuarios"><i class="fas fa-user"></i>USUARIOS</a>
            </div>
        </div>
    </div>

</main>

{% block body %}



{% endblock %}
</body>