<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles-back.css') }}">
        <link rel="stylesheet" href="{{ asset('css/header.css') }}">
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('css/table.css') }}">
        <link rel="stylesheet" href="{{ asset('css/template-grid3.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.13/css/all.css">

    {% endblock %}
    <title>{% block title %}Juan Bisquert | BackOffice{% endblock %}</title>
</head>

<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-light">
                <div class="container-fluid">
                    <div class="row bg-dark">

                        <div class="col-2">
                            <a href="/back-index"><img class="logo" src="/img/logo-bueno.png"
                                                       alt="logo"></a>

                        </div>

                        <div class="col-9">
                            <div>
                                <a href="../">
                                    <button type="button" class="button-five"><i class="fas fa-home mx-1"></i>Home</button>
                                </a>
                            </div>
                        </div>

                        <div class="col-1" style="top: 220px !important;">
                            <a href="#" class="mx-3"><i class="far fa-envelope text-info"></i></a>
                            <a href="#" class="mx-3"><i class="far fa-bell text-warning"></i></a>


                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<main>
    <div class="row navbar-vertical bg-dark ml-2">
        <div class="col-12 col-navbar bg-dark">
            <div class="sidebar">
                <a href="/admin" class="bg-dark mx-2"><i class="far fa-calendar-alt"></i>HOME</a>
                <a href="/back-reservas" class="bg-dark mx-2"><i class="far fa-calendar-alt"></i>CALENDARIO RESERVAS</a>
                <a href="/back-galeria" class="bg-dark mx-2"><i class="far fa-images"></i>GALERIA</a>
                <a href="/back-blog" class="bg-dark mx-2"><i class="fab fa-blogger-b"></i>BLOG</a>
                <a href="/admin/productos" class="bg-dark mx-2"><i class="fas fa-store-alt"></i>PRODUCTOS</a>
                <a href="/back-pedidos" class="bg-dark mx-2"><i class="far fa-newspaper"></i>PEDIDOS</a>
                <a href="/back-usuarios" class="bg-dark mx-2"><i class="fas fa-user"></i>USUARIOS</a>
            </div>
        </div>
    </div>

</main>

{% block body %}



{% endblock %}
</body>