{% extends 'back.html.twig' %}

{% block title %}BackOffice | Index {% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row fila-inputs-productos">
            <div class="col-2"></div>
            <div class="col-7 col-lg-7 col-sm-10 mr-4 bg-light" style="border: 2px solid black">
                <form method="get" action="{{ path('back_reservas_filter') }}"
                      class="form-inline">
                    <div class="form-group">
                        <input name="text"
                               value=""
                               type="text" placeholder="Buscar" aria-label="Search">
                    </div>
                    <div class="form-check-inline ml-3">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="optradio" id="fecha" value="fecha">&nbsp;Fecha
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-inline">
                            <input class="form-check-input" type="radio" name="optradio" id="hora" value="hora">&nbsp;Hora                        &nbsp;
                        </label></div>
                    <div class="form-check-inline">
                        <label class="form-check-inline">
                            <input class="form-check-input" type="radio" name="optradio" id="both" value="both" checked>&nbsp;Ambos                        &nbsp;
                        </label>
                    </div>
                    <div class="form-group">
                        <button style="margin-top: 15px; margin-left: 0px" class="button-four" type="submit" name="botonFiltrar">Buscar</button>
                    </div>
                </form>
            </div>

        </div>

        <div class="container-fluid">
            <div class="row justify-content-center">

                <div class="col-3 col-lg-6 ml-3">
                    <div>
                        <a style="text-decoration: none; color: white" class="btn" href="{{ path('reservas_createBack') }}"><button class="button-four bg-dark">
                                <i class="fa fa-plus-circle">
                                </i> Añadir reserva</button></a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-start">
                    <div class="col-3"></div>
                    <div class="col-lg-8 col-8">
                        <table>
                            <tr>

                                <th class="text-center">Username</th>
                                <th class="text-center">Servicio</th>
                                <th class="text-center">Hora</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                            {% if reservas %}
                                {% for reserva in reservas %}
                                    <tr>

                                        <td class="text-center">{{reserva.usuario.username}}</td>
                                        <td class="text-center">{{reserva.ServicioId.nombre}}</td>
                                        <td class="text-center">{{reserva.horaCita}}</td>
                                        <td class="text-center">{{  reserva.fechaCita | date("Y-m-d") }}</td>

                                        <td class="text-center" style="width: 140px"><a href="{{ path('reservas_edit', {id: reserva.id}) }}">
                                                <button type="button" class="btn btn-warning my-1"><i class="fa fa-edit"></i> Editar</button>
                                            </a>
                                            <a href="{{ path('reservas_delete', {id: reserva.id}) }}">
                                                <button type="button" class="btn btn-danger my-1"><i class="fa fa-trash"></i> Borrar</button>
                                            </a>
                                            <a href="{{ path('reservas_showBack', {id: reserva.id}) }}">
                                                <button type="button" class="btn btn-info my-1 px-3 my-1"><i class="fa fa-eye"></i> Ver</button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <h2>No hay reservas disponibles</h2>
                            {% endif %}
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
