{% extends 'back.html.twig' %}

{% block title %}BackOffice | Index {% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-7 col-md-10 col-lg-7 col-sm-11">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success mt-3" role="alert">
                        <i class="fas fa-check-circle mx-2"></i>
                        {{ message }}

                    </div>
                {% endfor %}

                {% for message in app.flashes('danger') %}
                    <div class="alert alert-error mt-3" role="alert">
                        <i class="fas fa-exclamation-circle mx-2"></i>
                        {{ message }}

                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-2 mx-4">


                </div>
                <div class="card col-4 mt-3 mr-3" style="width: 18rem;">
                    <div class="card-header">
                        Últimos productos añadidos
                    </div>
                    <div class="list-group list-group-flush">

                        {% if productos %}
                        {% for producto in productos %}

                        <div class="list-group-item">
                            <img src="{{ asset(pictures_public_directory ~  producto.imagen)}}" height="50" width="50">
                            <span class="text-center mx-3">{{producto.nombre}}</span>
                            <span class="text-center mx-3">{{producto.categoria}}</span>
                            <span class="text-center mx-3">{{producto.precio}}</span>
                        </div>

                        {% endfor %}
                        {% else %}
                            <h2>No hay usuarios disponibles</h2>
                        {% endif %}
                    </div>
                </div>
                <div class="card col-4 mt-3 mx-5" style="width: 18rem;">
                    <div class="card-header">
                        Últimos usuarios añadidos
                    </div>
                    <div class="list-group list-group-flush">

                        {% if usuarios %}
                            {% for usuario in usuarios %}

                                <div class="list-group-item">
                                    <img src="{{ asset(avatar_public_directory ~  usuario.avatar)}}" height="50" width="50">
                                    <span class="text-center mx-3">{{usuario.username}}</span>
                                    <span class="text-center mx-3">{{usuario.email}}</span>
                                    <span class="text-center mx-3">{{usuario.role}}</span>
                                </div>

                            {% endfor %}
                        {% else %}
                            <h2>No hay usuarios disponibles</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
